@model AudiShop.ViewModels.ManageCredentialsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<h2>Twoje Dane</h2>
@using (Html.BeginForm("ChangeProfile", "Manage"))
{
    @Html.AntiForgeryToken()

    <div class="sceletonSection">
        <div class="section">
            @Html.LabelFor(n => n.UserData.Name, "Imię:")
            @Html.TextBoxFor(n => n.UserData.Name)
            @Html.ValidationMessageFor(n => n.UserData.Name)
        </div>
        <div class="section">
            @Html.LabelFor(n => n.UserData.LastName, "Nazwisko:")
            @Html.TextBoxFor(n => n.UserData.LastName)
            @Html.ValidationMessageFor(n => n.UserData.LastName)
        </div>
        <div class="section">
            @Html.LabelFor(n => n.UserData.City, "Miasto:")
            @Html.TextBoxFor(n => n.UserData.City)
            @Html.ValidationMessageFor(n => n.UserData.City)
        </div>
        <div class="section">
            @Html.LabelFor(n => n.UserData.Address, "Adres:")
            @Html.TextBoxFor(n => n.UserData.Address)
            @Html.ValidationMessageFor(n => n.UserData.Address)
        </div>
        <div class="section">
            @Html.LabelFor(n => n.UserData.PostalCode, "Kod Pocztowy:")
            @Html.TextBoxFor(n => n.UserData.PostalCode)
            @Html.ValidationMessageFor(n => n.UserData.PostalCode)
        </div>
        <div class="section">
            @Html.LabelFor(n => n.UserData.Email, "E-mail:")
            @Html.TextBoxFor(n => n.UserData.Email)
            @Html.ValidationMessageFor(n => n.UserData.Email)
        </div>
        <div class="section">
            @Html.LabelFor(n => n.UserData.PhoneNumber, "Nr. telefonu:")
            @Html.TextBoxFor(n => n.UserData.PhoneNumber)
            @Html.ValidationMessageFor(n => n.UserData.PhoneNumber)
        </div>
        <div class="section">
            <input type="submit" value="Potwierdź" class="submitLink" />
        </div>
    </div>
}

<h2>Zmiana hasła</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="manage-error">
        @Html.ValidationMessage("password-error")
    </div>

    if (Model.Message.HasValue)
    {
        switch (Model.Message)
        {
            case AudiShop.Controllers.ManageController.ManageMessageId.ChangePasswordSuccess:
                @: Hasło zmienione pomyślnie !
                break;
            case AudiShop.Controllers.ManageController.ManageMessageId.Error:
                @: Wystąpił błąd
                break;
        }
    }

    <div class="sceletonSection">
        <div class="section">
            @Html.LabelFor(p => p.ChangePasswordViewModel.OldPassword, "Stare hasło:")
            @Html.PasswordFor(p => p.ChangePasswordViewModel.OldPassword)
            @Html.ValidationMessageFor(e => e.ChangePasswordViewModel.OldPassword)
        </div>
        <div class="section">
            @Html.LabelFor(p => p.ChangePasswordViewModel.NewPassword, "Nowe hasło:")
            @Html.PasswordFor(p => p.ChangePasswordViewModel.NewPassword)
            @Html.ValidationMessageFor(e => e.ChangePasswordViewModel.NewPassword)
        </div>
        <div class="section">
            @Html.LabelFor(p => p.ChangePasswordViewModel.ConfirmPassword, "Potwierdź hasło:")
            @Html.PasswordFor(p => p.ChangePasswordViewModel.ConfirmPassword)
            @Html.ValidationMessageFor(e => e.ChangePasswordViewModel.ConfirmPassword)
        </div>
        <div class="section">
            <input type="submit" value="Zmień" class="submitLink" />
        </div>
    </div>
}

